.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customer-id {
  display: flex;
  width: 300px;
  margin-top: 30px;
  margin-left: 100px;
  list-style: none;   
}

.customer-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.customer-name {
  margin-top: 0;
  padding-left: 15px;
}