.validation-errors-display {
    text-align: center;
    margin-bottom: 2em;
}

.validation-errors-display__list {
    list-style-type: none;
    padding: 0;
}

/* table  */

.customer-table__header-row th {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 100;
    color: #0e1413;
}

.customer-table__table {
    font-family: 'Gothic A1', sans-serif;
    font-weight: lighter;
    background-color: #f6fbff;
    width: 100%;
    text-align: center;
}

.customer-table__table-row:hover {
    background-color:rgb(0, 195, 255);
}
