.library__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
  grid-auto-rows: 30rem;
  grid-gap: 0.625rem;
  justify-content: center;
}

.library__header {
  text-align: center;
}