/* library-video__select
library-video__content */
.library-video {
  margin: 2rem;
  border-radius: 15px;
  background-color:white;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  transition: 0.1s ease-out;
}

.library-video__img {
  border-radius: 15px 15px 0 0;
}

.library-video__title {
  width: 11.563rem;
  letter-spacing: 0.01em;
  line-height: 1.2em;
  color: #343C3D;

  margin-top: 0.5rem;
  padding: 1rem;
  font-weight: normal;
  font-size: 1.2rem;
}

.library-video:hover {
  transform: translateY(10px);
}

.active{
  opacity: 0.5; /* Real browsers */
  filter: alpha(opacity = 50); /* MSIE */
}

.library-video__container {
  justify-self: center;
  align-self: start;
}
