h4 {
  text-align: center;
}

.search-results-container {
  margin: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start !important;
  align-items: flex-start;
}

.search-results-fade {
  opacity: 50%;
}