.top-nav {
  display: flex;
  margin: auto 3% auto 3%;
  height: 15vh;
  align-items: center;
}

.top-nav-homepage {
  display: flex;
  margin: auto;
  height: 15vh;
  align-items: center;
}

.main-fns {
  margin: auto;
  width: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  width: 100%;
  display: flex;
}

li {
  margin: auto 5% auto 5%;
  display: inline;
  font-size: smaller;
}

i {
  opacity: .5;
  margin-bottom: 3px;
  margin-left: 5px;
}

.arrow {
  border: solid #277f86;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.nav-rental-info {
  display: flex;
  flex-direction: row !important;
  justify-content: space-evenly;
}

.rental-status {
  display: flex;
  flex-direction: column;
  font-size: smaller;
  width: 80%;
  margin-right: 3%;
}

.rental-status-fulfilled {
  background-color: #d0eba6;
  color: #699622;
  font-weight: 800;
}