.search_results{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.search__button {
    border: none;
    color: white;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #4CAF50; 
}

.search__button:hover {
    background-color: #3f3f3f; 
}

.search__form {
    text-align: center;
}