.video {
    flex: 25%;
    background-color:	#ededed;
    padding: 1em 0;
    margin: 0.5rem;
    max-width: 23%;
    max-height: 100%;
    text-align: center;
}

.video__img {
    width: 100%;
}
.video__overview {
    align-content: flex-start;
    padding: 0.5em;
}

.video__select, .video__add { 
    border: none;
    color: white;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.video__select {
    background-color: #4CAF50;
}

.video__add {
    background-color: #ff6348;
}

.video__select:hover {
    background-color: #3f3f3f; 
}

span {
    color: grey
}