.add-video-form {
  padding-bottom: 1rem;
  overflow: visible;
}

.add-video-form label {
  font-size: medium;
}

.add-video-dropdown {
  display: flex;
  justify-content: space-evenly;
}

.add-video-dropdown *{
  font-size: small;
}