.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}


.nav-links {
  list-style: none;
  display: flex;
  background-color: black;
  
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
.selected {
  color: rgb(158, 152, 152);
}
.current {
  border-bottom: 4px solid white;
}

