@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&family=Roboto:wght@300&display=swap');

.navbar-logo {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.navbar-logo:hover {
  color: orangered;
  text-decoration: none;
}

a.navbar-wrapper {
  padding: 24px 20px 8px 20px;
}

.navbar-link {
  color: lightskyblue;
  text-decoration: none;
}

.navbar-link:hover {
  color: orangered;
  text-decoration: none;
}

.selected {
  color: lightgrey;
  text-decoration: none;
  padding: 0;
}

a.navbar-button.nav-link {
  padding-top: 16px;
}

h4 {
  font-weight: bold;
}

img {
  padding: 10px
}

.video-details {
  margin-left: 20px;
  padding: 10px;
}

* {
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: left;
}
